---
layout: page
title: Home
---

<p>Congratulations, you've made it to <i>{{site.title}}</i>, my website and <a href="{{ site.baseurl }}/blog">blog</a>.</p>

<p>I'm an <a href="{{ site.baseurl }}/about">experienced developer community manager and technical writer</a>, with a passion for enabling great community authored content. The blog will share my thoughts about API documentation, tools, community, and more. Commenting is enabled, and I welcome your advice and feedback.</p>

<p>You can find out more about me in the <a href="{{ site.baseurl }}/about">about page</a>, or <a href="{{ site.baseurl }}/about/#contact-me">get in contact</a> to discuss community or writing opportunities.</p>

<p></p>

 <div class="latestfromblog">
  <h2>Latest from the blog</h2> 

{% for post in site.posts limit:5 %}
   {% if post.tags contains 'draft' %}<!--do nothing -->{% else %}

      <div class="post-block">
         <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><span class="small-post-date"> - {{ post.date | date: "%b %-d, %Y" }}</span>
         {% if post.tags != empty %} <div class="tag-icon-image"> {% for tag in post.tags %} <small><a href="{{ site.baseurl }}/tags#{{ tag }}&tag={{ tag | uri_escape }}">{{ tag }}</a></small> {% endfor %}</div>{% endif %} 
         <div class="post-excerpt">{{ post.excerpt }}</div>
      </div> 

   {% endif %} 
{% endfor %}
</div>





