<!DOCTYPE html>
<html>
<html lang="en">

  {% include head.html %}

    <body>

    {% include header.html %}

    <div class="container">
      {{ content }}
    </div> <!-- /container -->


    {% include footer.html %}

    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->

    <script src="/source/assets/bower_components/jquery/dist/jquery.min.js"></script> 

    <!-- Bootstrap CDN Latest compiled and minified JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->

    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->

    <script src="/source/assets/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <!-- <script src="../../dist/js/bootstrap.min.js"></script> -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->

	{% include google_analytics_scripts.html %}
    </body>
</html>

